@page
@model UnivApp.Pages.Students.IndexModel

@{
	ViewData["Title"] = "Index";
}


<h1>Index</h1>

<p>
	<a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
	<div class="form-actions no-color">
		<p>
			Find by name:
			<input type="text" name="SearchString" value="@Model.CurrentFilter" />
			<input type="submit" value="Search" class="btn btn-default" /> |
			<a asp-page="./Index">Back to full List</a>
		</p>
	</div>
</form>

<form asp-page="./Index" method="post">
	<table id="DataTable">
		<thead>
			<tr>
				<th>
					@Html.CheckBox("check_all", false)
					<a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
						 asp-route-currentFilter="@Model.CurrentFilter">
						@Html.DisplayNameFor(model => model.Student[0].LastName)
					</a>
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Student[0].FirstMidName)
				</th>
				<th>
					<a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
						 asp-route-currentFilter="@Model.CurrentFilter">
						@Html.DisplayNameFor(model => model.Student[0].EnrollmentDate)
					</a>
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Student) {
				<tr>
					<td>
						<input type="checkbox" class="selectBox" />
						<a asp-page="./Edit" asp-route-id="@item.ID">
						@Html.DisplayFor(modelItem => item.LastName)
						</a>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.FirstMidName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EnrollmentDate)
					</td>
					<td>
					
							|
							<a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
							<a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
	debugger;
	$(document).ready(function () {

		$("#check_all").on("click", function () {

			if ($(".selectBox").prop("checked")) {
				$(".selectBox").prop("checked", false);
			} else {
				$(".selectBox").prop("checked", true);
			}
		});

		$("#deleteBtn").click(function () {
			var SelectItems = [];
			$.each($("input[class='selectBox']:checked"), function () {
				SelectItems.push($(this).val());
			})
			//debugger;
			$.ajax({
				url: './Index',
				type: 'Post',
				data: { SelectItems: SelectItems },
				traditional: true,
				// contentType: 'application/json; charset=utf-8',
				dataType: 'Json',
				success: function () { document.location.reload() }
			})
		})

	});
</script>

	@*@{
			var prevDisabled = !Model.Student.HasPreviousPage ? "disabled" : "";
			var nextDisabled = !Model.Student.HasNextPage ? "disabled" : "";
		}

		<a asp-page="./Index"
			 asp-route-sortOrder="@Model.CurrentSort"
			 asp-route-pageIndex="@(Model.Student.PageIndex - 1)"
			 asp-route-currentFilter="@Model.CurrentFilter"
			 class="btn btn-default @prevDisabled">
			Previous
		</a>
		<a asp-page="./Index"
			 asp-route-sortOrder="@Model.CurrentSort"
			 asp-route-pageIndex="@(Model.Student.PageIndex + 1)"
			 asp-route-currentFilter="@Model.CurrentFilter"
			 class="btn btn-default @nextDisabled">
			Next
		</a>*@
